body {
  margin: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-image: ;
}

#calculadora {
  font-family: Arial, Helvetica, sans-serif;
/* From https://css.glass */
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  max-width: 400px;
  overflow: hidden;
}

#display {
  width: 100%;
  padding: 20px;
  font-size: 4rem;
  text-align: left;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: white;
}

#teclas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 6px;
  padding: 20px;
}

button {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: hsl(0, 0%, 100%);
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: hsl(0, 0%, 40%);
}

button:active {
  background-color: hsl(0, 0%, 50%);
}

.operador-btn {
  background-color: hsl(35, 100%, 55%);
}

.operador-btn:hover {
  background-color: hsl(35, 100%, 65%);
}

.operador-btn:active {
  background-color: hsl(35, 100%, 75%);
}